{% extends 'base.html.twig' %}

{% block title %} Update Information {% endblock %}

{% block body %}
    <div class="root-profile-update-infor">
        <div class="form-update-infor">
            <p>Update Information</p>
            {{ form_start(updateInforForm) }}
            {{ form_end(updateInforForm) }}
        </div>
    </div>
{% endblock %}