<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ asset('image/decorate/logo.png') }}" sizes="128x128">
    <title>About Us</title>

    <link rel="stylesheet" href="{{ asset('css/home/aboutUs.css') }}">
</head>
<body>

<div class="fpic"><img src="../image/decorate/bird-happy.png"></div>
<div><p class="intro">Paimon.Com is small social media</p>  </div>
<div><p class="intro">Paimon can connect every one in the world come together in this website,
    everyone can be friend with other user who using this it website, share your nice memory, moment. </p>
    <p class="intro">We will continue to update new features to provide users with a great experience.</p>
</div>
<div class="pic">
    <div><img src="../image/decorate/web-demo.png" class="demo" > </div>
    <div><img src="../image/decorate/register.png" class="demo" ></div>
    <div><img src="../image/decorate/notification.png" class="demo"></div>
    <div><img src="../image/decorate/proflie.png" class="demo" ></div>
    <div><img src="../image/decorate/function.png" class="demo" ></div>
    <div><img src="../image/decorate/post.png" class="demo" ></div>
    <div><img src="../image/decorate/sfriend.png" class="demo" ></div>
<div><h5>policy</h5>
<p class="policy">To see the full list and learn more about our policies,please review the paimon Community Standards.
If you see something on paimon that doesn't follow the Community Standards, please use the report links near the content.
Here are a few of the things that aren't allowed on paimon: 
Nudity or other sexually suggestive content. 
Hate speech, credible threats or direct attacks on an individual or group.
Content that contains self-harm or excessive violence.
Fake or impostor profiles.
Spam.</p>
<p>The following behavior isn't allowed on paimon:
Posting things that don't follow the paimon Community Standards.
Using paimon to bully, impersonate or harass anyone.
Abusing paimon features Overusing features could make other people feel uncomfortable or unsafe. 
As a result, we have limits in place to limit the rate at which you can use features. 
</p>
<p>The purchase, sale or trade of firearms, ammunition and explosives between private individuals isn't allowed on paimon. 
Please refer to this Help Center article for a list of items covered by this policy. 
Firearm shops and online retailers are allowed to engage in commercial activity involving firearms and ammunition on paimon as long as all applicable laws and regulations are followed.</p>
<p>The purchase, sale or trade of firearms, ammunition and explosives between private individuals isn't allowed on paimon. 
This includes:Rifles,Shotguns,Machine guns,Handguns,Pistols,Revolvers,Firearm receivers,Antique guns,
Black powder firearms,Muzzle-loading firearms,BB guns,Airsoft guns,Air guns,Air rifles,Paintball markers
Firearm replicas
Non-functioning firearms
Curios and relics
Destructive devices such as bombs, grenades, rockets, missiles or mines
Ammunition components, such as blanks, bullets, bullet tips, casings, gun powder, primers, and shotgun shells
We understand that some of these items may not be legally regulated everywhere people use paimon. In order to enforce our policies as fairly and consistently as possible, we use one broad set of standards for the entire paimon community.</p>
</div>
<footer>
<div>@paimon 2022 CopyRight<div>
<footer>
</body>
</html>