<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ asset('image/decorate/logo.png') }}" sizes="128x128">
    <title>About Us</title>

    <link rel="stylesheet" href="{{ asset('css/home/aboutUs.css') }}">
</head>
<body>

<div class="fpic"><img src="../image/decorate/bird-happy.png"></div>
<div><p>Paimon.Com is small social media</p>  </div>
<div><p>Paimon can connect every one in the world come together in this website,
    everyone can be friend with other user who using this it website, share your nice memory, moment.  </p>
    <p>We will continue to update new features to provide users with a great experience.</p>
</div>
<div class="pic">
    <div><img src="../image/decorate/web-demo.png" class="demo" > </div>
    <div><img src="../image/decorate/register.png" class="demo" ></div>
    <div><img src="../image/decorate/notification.png" class="demo"></div>
    <div><img src="../image/decorate/proflie.png" class="demo" ></div>
    <div><img src="../image/decorate/function.png" class="demo" ></div>
    <div><img src="../image/decorate/post.png" class="demo" ></div>
    <div><img src="../image/decorate/sfriend.png" class="demo" ></div>


</div>
</body>
</html>