<div class="home-left">
    <input type="text" id="txt_search_user_home_left" placeholder="search other user">
    <div id="btn_search_user"><div><i class="bi-search"></i></div></div>
    <div class="item-left-home">
        <div class="icon-item-left"><i class="bi-people"></i></div>
        <div class="name-feature-home-left">Group</div>
    </div>
    <div class="item-left-home">
        <div class="icon-item-left"><i class="bi-shop"></i></div>
        <div class="name-feature-home-left">Maketplace</div>
    </div>
    <div class="item-left-home">
        <div class="icon-item-left"><i class="bi-calendar2-heart"></i></div>
        <div class="name-feature-home-left">Celebrate</div>
    </div>
    <div class="item-left-home">
        <div class="icon-item-left"><i class="bi-journal-bookmark"></i></div>
        <div class="name-feature-home-left">Page</div>
    </div>
    <div class="item-left-home">
        <div class="icon-item-left"><i class="bi-star"></i></div>
        <div class="name-feature-home-left">Event</div>
    </div>
    <div class="item-left-home">
        <div class="icon-item-left"><i class="bi-controller"></i></div>
        <div class="name-feature-home-left">Game</div>
    </div>
    <hr style="margin-top: 1rem;">
    <div class="about-us">About us</div>
</div>