<div class="home-right">
    <div class="header-right-block">
        <div class="title-right-block"><i class="bi-chat-heart"></i></div>
        <div class="search-friend-list">
            <input type="text" name="search-box-in-friend-list" id="txt_search_box_in_friend_list" placeholder="search friend">
            <button id="btn-search-in-friend-list"><span class="bi-search"></span></button>
        </div>
    </div>
    <div class="overflow-auto body-right-block">
        {% for i in 1..100 %}
            <div class="friend-in-list" data-friend-id="{{ i }}">
                <div class="avatar-friend-in-list" data-id=""><img src="{{ asset('image/post/test-post.jpg') }}" alt="avatar"></div>
                <div class="name-friend-in-list">nguyen nhat khang</div>
                <span class="bi-circle-fill status-friend-in-list"></span>
            </div>
        {% endfor %}
    </div>
</div>
<div class="block-chat">
    {% for i in 1..3 %}
        <div class="chat-box">
            <div class="header-chat-box">
                <div class="avatar-friend-in-chat-box"><img src="{{ asset('image/avatar/avatar.jpg') }}" alt="avatar"></div>
                <div class="name-friend-in-chat-box">nguyen nhat khang</div>
                <div class="btn-collapse-chat-box"><i class="bi-chevron-down"></i></div>
                <div class="btn-close-chat-box"><i class="bi-x-square"></i></div>
            </div>
            <div class="overflow-auto body-chat-box">

            </div>
            <div class="footer-chat-box">
                <input type="text" class="txt-chat-box">
                <div class="btn-send-mess"><i class="bi-send-fill"></i></div>
            </div>
        </div>
    {% endfor %}
</div>
