<div class="user-list-found">
    <div class="body-user-list-found">
        <div class="item-user-list-found">
            <div class="avatar-user-found"><img src="/image/post/avatar.png" alt="avatar"></div>
            <div class="fullname-user-found"></div>
            <div class="btn-add-friend-user-found"><i class="i-person-plus"></i></div>
        </div>
    </div>
</div>