.root-body-profile{
    width: 71rem;
    min-height: 50rem;
    padding-top: 5rem;
    background-color: rgb(240, 242, 245);
    margin-right: auto;
    margin-left: auto;
}

.profile-main{
    float: right;
    width: 40rem;
    min-height: 50rem;
    background-color: rgb(240, 242, 245);
    display: block;
}

.header-post-profile{
    width: 40rem;
    height: 5rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px grey;
}



