.home-right{
    border-radius: 1rem;
    height: 40rem;
    width: 21rem;
    position: fixed;
    transform: translateX(70.7rem);
    box-shadow: 0 2px 6px grey;
    -webkit-box-shadow: 0 2px 6px grey;
    -moz-box-shadow: 0 2px 6px grey;
}

.header-right-block{
    background-color: rgb(102, 167, 175);
    width: 100%;
    height: 4rem;
    border-radius: 1rem 1rem 0 0;
}

.title-right-block{
    margin-top: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.6rem;
    display: inline-block;
    font-size: 2rem;
    color: white;
}

.search-friend-list{
    display: inline-block;
}

#txt_search_box_in_friend_list{
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(240, 242, 245);
}

#txt_search_box_in_friend_list:focus-visible{
    outline-color: rgb(40, 121, 116);
}

#btn-search-in-friend-list{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    margin-left: 0.5rem;
}
#btn-search-in-friend-list:hover{
    color: rgb(1, 86, 91);
}

.body-right-block{
    background-color: rgba(197, 224, 231, .3);
    height: 35rem;
    width: 100%;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
}

.friend-in-list{
    height: 4rem;
    margin: 1rem;
    border-radius: 1rem;
}

.friend-in-list:hover{
    background-color: rgba(58, 59, 60, .2);
    cursor: pointer;
}

.avatar-friend-in-list{
    display: inline-block;
}

.avatar-friend-in-list img{
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
}

.avatar-friend-in-list,
.name-friend-in-list{
    transform: translateY(.6rem);
    margin-left: 1rem;
}

.name-friend-in-list{
    display: inline-block;
    width: fit-content;
    margin-left: 1rem;
    font-weight: 600;
}

.status-friend-in-list{
    transform: translate(-1rem,1.3rem);
    float: right;
    display: inline-block;
}

.block-chat{
    position: fixed;
    width: fit-content;
    height: 5rem;
    z-index: 100;
    bottom: 0;
    right: 23rem;
}

.chat-box{
    width: 21rem;
    height: fit-content;
    box-shadow: 0 0 .5rem gray;
    border-radius: 1rem;
    margin-left: 1rem;
    display: inline-block;
    transform: translateY(-22.53rem);
}

.header-chat-box{
    height: 3.5rem;
    background-color: rgb(102, 167, 175);
    border-radius: 1rem 1rem 0 0;
    border-bottom: 3px solid rgb(0, 66, 67);
}

.header-chat-box div{
    display: inline-block;
    vertical-align: bottom;
}

.avatar-friend-in-chat-box img{
    border-radius: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(10px, 10px);
}

.name-friend-in-chat-box{
    display: inline-block;
    width: fit-content;
    margin-left: 1rem;
    font-weight: 600;
}

.name-friend-in-chat-box:hover{
    color: rgb(227, 237, 241);
    cursor: pointer;
}

.btn-collapse-chat-box{
    transform: translate(2rem, 0.5rem);
    font-size: 1.5rem;
}

.btn-collapse-chat-box:hover{
    color: white;
    cursor: pointer;
}

.chat-box-mini-animation{
    animation-name: mini-chat-box;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes mini-chat-box {
    0% { transform: translateY(-22.53rem)}
    20%{transform: translateY(-24rem)}
    100% { transform: translateY(1.5rem)}
/*transform: translateY(-22.53rem);*/
}

.chat-box-max-animation{
    animation-name: max-chat-box;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes max-chat-box {
    0% { transform: translateY(1.5rem)}
    100% { transform: translateY(-22.53rem)}
}

.btn-close-chat-box{
    float: right;
    margin-right: 1.5rem;
    transform: translateY(.8rem);
    font-size: 1.5rem;
}

.btn-close-chat-box:hover{
    color: rgb(227, 237, 241);
    cursor: pointer;
}


.body-chat-box{
    height: 20rem;
    background-color: rgb(227, 237, 241);
}

.footer-chat-box{
    height: 4rem;
    background-color: rgb(102, 167, 175);
    border-radius: 0 0 1rem 1rem;
    border-top: 3px solid rgb(0, 66, 67);
}

.footer-chat-box input{
    padding: .3rem;
    border-radius: 0.5rem;
    transform: translateY(11px);
    margin-left: 1rem;
    display: inline-block;
    width: 16rem;
    border: none;
    background-color: rgb(240, 242, 245);
}
.footer-chat-box input:focus-visible {
    outline-color: rgb(40, 121, 116);
}

.btn-send-mess{
    display: inline-block;
    font-size: 2rem;
    margin-left: .5rem;
    vertical-align: middle;
    float: right;
    margin-right: 1rem;
    margin-top: 0.4rem;
}

.btn-send-mess:hover{
    color: rgb(227, 237, 241);
    cursor: pointer;
}




