{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="admin-report">
        <div class="admin-report-header">
            <div class=""><p>Report from user: 123</p></div>
        </div>
        <div class="overflow-auto admin-report-body">
            {% for i in 1..20 %}
            <div class="item-report-from-user"><p></p></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}