<div class="modal fade" id="reprot_detail_table" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn_close_report_table"></button>
            </div>
            <div class="modal-body">
                <div class="report-table">
                    <div class="img-post-in-table">
                        <img src="../image/post/62b9a5729bffd268772332_323142876478998_6569563362885641001_n.jpg" alt="" id="img_preview">
                    </div>
                    <div class="caption-post-in-table">
                        <textarea readonly name="captionPost" id="caption_post_in_table" cols="35" rows="11" class="text-area-caption-in-table"></textarea>
                    </div>
                    <div class="block-reaction-post-report">
                        <div class="avatar-user-send-report" style="vertical-align: top; transform: translate(2rem, -0.4rem);">
                            <img src="../image/post/avatar.png" alt="">
                        </div>
                        <div class="tym-post">
                            <div><i class="bi-heart-fill" style="color: red"></i></div>
                            <div class="count-tym-post">123</div>
                        </div>
                        <div class="comment-post">
                            <div><i class="bi-chat-right-dots" ></i></div>
                            <div class="count-comment-post">123</div>
                        </div>
                    </div>
                </div>
                <div class="sender-report-detail">
                    <div class="avatar-user-send-report" style="vertical-align: top;"><img src="../image/post/avatar.png" alt=""></div>
                    <div class="content-report">aasd dasd asd asd as dasd as das dasd asd asdasdas das  dasd asd as ddas as d aasd asd asd asd asd asd sasd asd as das sa </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btn_lock_account" data-user-reported-id="">Lock Account</button>
                    <button class="btn btn-warning" id="btn_delete_post" data-post-id="">Delete Post</button>
                </div>
            </div>
        </div>
    </div>
</div>
