{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="admin-statific">
        <div class="header-admin-statific">
            <div class="infor-box">User: 30</div>
            <div class="infor-box">Post: 12</div>
            <div class="infor-box">Online: 10</div>
            <div class="infor-box">Offline: 20</div>
        </div>
        <div class="body-admin-statific">

        </div>
    </div>
{% endblock %}